.modalViewDetails {
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.contentViewDetails {
  background-color: whitesmoke;
  margin: auto;
  height: 100vh;
  width: 80%;
  overflow-y: auto;
}

.paddingViewDetails {
  padding: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 480px) {
  .contentViewDetails {
    width: 100%;
  }
}
