.group {
  position: relative;
}

.input {
  border: 2px solid black;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: calc(100% - 1.3rem);
  padding: 0.5rem;
  outline: 0;
}

.label {
  background-color: whitesmoke;
  font-size: 1rem;
  padding: 0 0.25rem;
  position: absolute;
  left: 0.4rem;
  top: -0.75rem;
  line-height: 1.05;
}

.labelOff {
  display: none;
}

.wrongValue {
  border: 2px solid red;
}

.placeholder {
  position: absolute;
  left: 20px;
  top: 0px;
  background-color: white;
  padding: 0 20px;
}

.viewPassword {
  background-color: white;
  margin: 0.4rem -2rem;
  position: absolute;
}
