.containerCookingInstruction {
  position: relative;
  margin-bottom: 0.5rem;
}

.numberCookingInstruction {
  border-radius: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.stepCookingInstruction {
  margin-left: 2rem;
  text-align: justify;
  word-break: break-word;
}

.textCookingInstruction {
  font-size: 1.5rem;
}
