.orContainerSignUp {
  border: 2px solid black;
  margin: 2rem 1rem;
  position: relative;
}

.orSignUp {
  background: whitesmoke;
  left: 50%;
  width: 3rem;
  margin: -0.75rem 0 0 -1.5rem;
  text-align: center;
  position: absolute;
}

.textSignUp {
  font-size: 1.5rem;
}

.failedSignUp {
  color: red;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
