.containerEquipment {
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: inline-grid;
}

.imgEquipment {
  height: 8rem;
  width: 8rem;
}

.nameEquipment {
  height: max-content;
  width: 8rem;
  text-align: center;
  text-transform: capitalize;
}

.titleEquipment {
  font-size: 1.5rem;
}
