.containerIngredient {
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: inline-grid;
}

.detailsIngredient {
  height: max-content;
  width: 8rem;
  text-align: center;
}

.nameIngredient {
  text-transform: capitalize;
}

.quantityIngredient {
  text-transform: lowercase;
}

.containerIngredients {
  margin-bottom: 1rem;
}

.titleIngredients {
  font-size: 1.5rem;
}
