.category {
  height: 16rem;
  width: 16rem;
  object-fit: cover;
}

.equipment {
  background-color: white;
  height: 8rem;
  width: 8rem;
  object-fit: none;
}


.ingredient {
  background-color: white;
  height: 8rem;
  width: 8rem;
  object-fit: none;
}
