.category {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.equipment {
  background-color: white;
  height: 100%;
  width: 100%;
  object-fit: none;
}

.ingredient {
  background-color: white;
  height: 100%;
  width: 100%;
  object-fit: none;
}
