.colCategory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0.5rem;
}

.detailsCategory {
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
  width: 15rem;
}

.titleCategory {
  margin: 0;
  word-break: break-word;
}

@media screen and (max-width: 480px) {
  .colCategory {
    display: block;
  }

  .detailsCategory {
    margin: 0;
  }
}
